---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCardGrid from "@components/blog/PostCardGrid.astro";
import PostCard from "@components/blog/PostCard.astro";
import Pagination from "@components/blog/Pagination.astro";
import type { GetStaticPathsOptions } from "astro";
import ContentContainer from "@components/common/ContentContainer.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  });
  return paginate(allPosts, { pageSize: 10 });
}

const { page } = Astro.props;

const pageTitle = `Blog - Page ${page.currentPage}`;
---

<BaseLayout pageTitle={pageTitle}>
  <ContentContainer>
    <h1>
      Blog<br />
      <small>Page {page.currentPage}</small>
    </h1>
    <PostCardGrid mobileColumns={1}>
      {page.data.map((post) => <PostCard post={post} />)}
    </PostCardGrid>
    <Pagination url={page.url} />
  </ContentContainer>
</BaseLayout>

<style>
  h1 {
    font-size: 40px;
    text-align: center;
    line-height: 1;
  }

  small {
    font-size: 16px;
  }
</style>
