---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import KeystaticButton from "../components/KeystaticButton.astro";
import type { ImageInputFormat } from "astro";
import "../styles/global.css";
import Article from "../components/opengraph/OpenGraphArticle.astro";

type AstroImage = {
  src: string;
  width: number;
  height: number;
  format: ImageInputFormat;
};

type OpenGraphWebsite = {
  type?: "website";
  image?: AstroImage;
};

type OpenGraphArticle = {
  type?: "article";
  image?: AstroImage;
  published_time?: string;
  article?: string;
  tags?: string[];
};

interface Props {
  pageTitle: string;
  pageDescription?: string;
  opengraph?: OpenGraphWebsite | OpenGraphArticle;
}

const { pageTitle, pageDescription, opengraph } = Astro.props;

const domain = import.meta.env.DEV ? Astro.url.origin : Astro.site.origin;
const path = Astro.url.pathname;

const description =
  pageDescription || "Amends is a personal blog for the curious.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Amends</title>
    <meta name="description" content={description} />
    <!-- START: Open Graph -->
    <meta property="og:title" content={`${pageTitle} | Amends`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={opengraph?.type || "website"} />
    <meta property="og:url" content={`${domain}${path}`} />
    {opengraph?.type === "article" && <Article opengraph={opengraph} />}
    <!-- END: Open Graph -->
    <script is:inline>
      const theme = localStorage.getItem("theme");
      if (theme !== "light")
        document.documentElement.setAttribute("class", theme);
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      const swapTheme = () => {
        const theme = document.documentElement.getAttribute("class");
        const isDark = theme === "dark";

        document
          .querySelectorAll("img[data-light][data-dark]")
          .forEach((img: HTMLImageElement) => {
            img.src = isDark ? img.dataset.dark : img.dataset.light;
          });
      };

      const observer = new MutationObserver(() => swapTheme());
      observer.observe(document.documentElement, { attributes: true });
      swapTheme();
    </script>
    {import.meta.env.DEV && <KeystaticButton />}
  </body>
</html>
