---
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";
import "@styles/global.css";
import { getEntry } from "astro:content";
import type { OpenGraphArticle, OpenGraphWebsite } from "@type/opengraph";

interface Props {
  pageTitle: string;
  pageExcerpt?: string;
  opengraph?: OpenGraphWebsite | OpenGraphArticle;
}

const settings = await getEntry("settings", "index")!;
const { metaDescription } = settings.data;

const { pageTitle, pageExcerpt, opengraph } = Astro.props;

const domain = import.meta.env.DEV ? Astro.url.origin : Astro?.site?.origin;
const path = Astro.url.pathname;

const description = pageExcerpt || metaDescription;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Amends</title>
    <meta name="description" content={description} />
    <!-- START: Open Graph -->
    <meta property="og:title" content={`${pageTitle} | Amends`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={opengraph?.type || "website"} />
    <meta property="og:url" content={`${domain}${path}`} />
    <!-- END: Open Graph -->
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
